@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,400;1,700&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p, span, a, li {
    font-family: 'Montserrat', sans-serif;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.open {
    display: flex !important;
}

.wrapper {
    width: 80%;
    max-width: 1440px;
    margin: 0 auto;

    @include media(1440px) {
        width: 90%;
    }
}

