.info-div .number a:hover,
.nav li a:hover,
footer a:hover,
.destination-popup__list li a:hover {
    color: #b3e00f;
    transition: 0.3s;
    text-decoration: underline;
    cursor: pointer;
}

.burger__nav li:hover {
    color: #b3e00f;
    border-bottom: 1px solid #b3e00f;
}

.btn:hover {
    cursor: pointer;
    background-color: #c8fb107a;
}
.btn:active {
    background-color: #c8fb101e;
    box-shadow: -1px -2px 5px #CAFB10;
}
.dropdown-edit-dots:hover {
    opacity: 1;
    transition: 0.3s;
}

.search-part:hover,
._btn-modal-open:hover,
.save:hover,
.logo-wrapper:hover {
    transform: scale(1.07);
}