.account-autorisation {
    width: 100%;
    height: 100vh;
    padding: 40px;
}
.sign-in {
    width: 50%;
}
.sign-up {
    width: 50%;
    border-left: 1px solid #000;
    padding-left: 80px;
}
.account-autorisation input {
    margin: 15px 0 20px;
    width: 70%;
    padding: 10px;
}
.account-autorisation h3 {
    font-size: 42px;
    font-weight: 600;
    margin-bottom: 30px;
    margin-top: 40px;
}
.account-autorisation button {
    width: 75%;
}